<mat-card class="indicators">
  <h4 class="indicator-title">Indicadores</h4>
  <div>
    <mat-radio-group [value]="phenomenon" aria-label="Select an option">
      <mat-radio-button value="NINA">Niña</mat-radio-button>
      <mat-radio-button value="NINO">Niño</mat-radio-button>
    </mat-radio-group>
  </div>
</mat-card>

<mat-card class="indicators">
  <h4 class="indicator-title">Temperatura Global</h4>
  <div>{{ temp }} °C</div>
</mat-card>

<mat-card class="indicators">
  <h4 class="indicator-title">Aumento del Nivel del mar Global</h4>
  <div>{{ level }} cm</div>
</mat-card>

<mat-card class="indicators">
  <h4 class="indicator-input-title">Selecione una ciudad</h4>
  <mat-form-field>
    <mat-label>Ciudades</mat-label>
    <mat-select [value]="city" (valueChange)="onCityChange($event)">
      <mat-option *ngFor="let city of cities" [value]="city.value">
        {{ city.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-card>
