:host {
  padding-left: 20px;

  display: grid;

  grid-template-rows: 52px auto;
  grid-template-columns: auto;
  grid-template-areas:
    'map-title'
    'map';

  grid-gap: 20px 20px;
}

.map-title {
  grid-area: map-title;

  text-align: center;
}

.map {
  grid-area: map;
  min-height: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
