$detail-width: 1500px;

.map {
  max-width: 1080px;
  width: calc(100% - $detail-width);
  height: 200px;
  margin: 50px;
  align-content: center;
}

.detail {
  width: $detail-width;
  margin: auto;
  align-content: center;
}

.back-map {
  background-color: #0b3d91;
  color: white;
  width: 10%;
  text-align: center;
}
